<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite for onliner test">
    <test name="Onliner test">
        <parameter name="brand" value="Samsung"/>
        <parameter name="priceMax" value="1500"/>
        <parameter name="diagonalMin" value='40"'/>
        <parameter name="diagonalMax" value='50"'/>
        <parameter name="diagonalResolution" value="1920x1080 (Full HD)"/>
        <classes>
            <class name="course.selenium.OnlinerTest"/>
        </classes>
    </test>
</suite>